body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u18 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
  background:inherit;
  background-color:rgba(58, 58, 58, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:230px;
}
#u21 {
  position:absolute;
  left:65px;
  top:97px;
  width:230px;
  height:230px;
}
#u22 {
  position:absolute;
  left:2px;
  top:107px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u23 {
  position:absolute;
  left:65px;
  top:539px;
  width:231px;
  height:21px;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u25 {
  position:absolute;
  left:5px;
  top:9px;
  width:84px;
  height:12px;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u27 {
  position:absolute;
  left:320px;
  top:9px;
  width:35px;
  height:12px;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:11px;
}
#u29 {
  position:absolute;
  left:273px;
  top:9px;
  width:16px;
  height:11px;
  color:#FFFFFF;
}
#u30 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:9px;
}
#u31 {
  position:absolute;
  left:298px;
  top:10px;
  width:16px;
  height:9px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
