body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(237, 237, 237, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u778 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u779 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u780 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u781 {
  position:absolute;
  left:2px;
  top:7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u782 {
  position:absolute;
  left:5px;
  top:9px;
  width:84px;
  height:12px;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u783 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u784 {
  position:absolute;
  left:320px;
  top:9px;
  width:35px;
  height:12px;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u785 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:11px;
}
#u786 {
  position:absolute;
  left:273px;
  top:9px;
  width:16px;
  height:11px;
  color:#FFFFFF;
}
#u787 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:9px;
}
#u788 {
  position:absolute;
  left:298px;
  top:10px;
  width:16px;
  height:9px;
}
#u789 {
  position:absolute;
  left:2px;
  top:-4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u790 {
  position:absolute;
  left:0px;
  top:592px;
  width:360px;
  height:48px;
}
#u791 {
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u792 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u793 {
  position:absolute;
  left:16px;
  top:597px;
  width:22px;
  height:22px;
}
#u794 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u795 {
  position:absolute;
  left:16px;
  top:621px;
  width:23px;
  height:14px;
  font-size:11px;
}
#u796 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u797 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u798 {
  position:absolute;
  left:169px;
  top:597px;
  width:22px;
  height:22px;
}
#u799 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#1E1E1E;
}
#u800 {
  position:absolute;
  left:163px;
  top:621px;
  width:34px;
  height:14px;
  font-size:11px;
  color:#1E1E1E;
}
#u801 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u802 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u803 {
  position:absolute;
  left:249px;
  top:597px;
  width:22px;
  height:22px;
}
#u804 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#1E1E1E;
}
#u805 {
  position:absolute;
  left:248px;
  top:621px;
  width:23px;
  height:14px;
  font-size:11px;
  color:#1E1E1E;
}
#u806 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u807 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u808 {
  position:absolute;
  left:322px;
  top:597px;
  width:22px;
  height:22px;
}
#u809 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FF0000;
}
#u810 {
  position:absolute;
  left:321px;
  top:621px;
  width:23px;
  height:14px;
  font-size:11px;
  color:#FF0000;
}
#u811 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u812 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u813 {
  position:absolute;
  left:91px;
  top:597px;
  width:22px;
  height:22px;
}
#u814 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u815 {
  position:absolute;
  left:90px;
  top:621px;
  width:23px;
  height:14px;
  font-size:11px;
}
#u816 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
}
#u817 {
  position:absolute;
  left:0px;
  top:28px;
  width:360px;
  height:48px;
}
#u818 {
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:87px;
}
#u819 {
  position:absolute;
  left:137px;
  top:144px;
  width:87px;
  height:87px;
}
#u820 {
  position:absolute;
  left:2px;
  top:36px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u821 {
  position:absolute;
  left:114px;
  top:241px;
  width:133px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u822 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u823 {
  position:absolute;
  left:156px;
  top:43px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u824 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#999999;
}
#u825 {
  position:absolute;
  left:164px;
  top:169px;
  width:33px;
  height:16px;
  font-size:32px;
  color:#999999;
}
#u826 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u827 {
  position:absolute;
  left:81px;
  top:572px;
  width:199px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u828 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
